@import url(reset.css);
@import url(text-style.css);

body {
	background-color: white;
	color: black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body.fixed {
	overflow: hidden;
}

header,
footer {
	flex-grow: 0;
}

main {
	flex-grow: 1;
}


.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}


/* HEADER */

.header__items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	position: relative;
}

.logo {
	display: flex;
	align-items: center;
}

.search__box {
	display: flex;
	align-items: center;
	position: relative;
}

.search__box.active {
	position: absolute;
	z-index: 2;
	width: 90vw;
	height: 50%;
	top: calc(100% + 20px);
	left: 50%;
	transform: translateX(-50%);
}

.search {
	width: 320px;
	height: 45px;
	border: 1px solid rgba(232, 232, 232, 1);
	border-radius: 5px;
	position: relative;
	padding: 20px;

	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	color: black;
}

.search__box.active .search {
	display: block;
	width: 100%;
	height: 100%;
}

.search__icon,
.search__box.active .search__icon {
	position: absolute;
	right: 20px;
	cursor: pointer;
}



.header__account button {
	width: 165px;
	height: 45px;
	border: 1px solid rgba(0, 113, 99, 1);
	background: white;
	border-radius: 5px;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
}

button.login {
	color: rgba(0, 113, 99, 1);
	margin-right: 15px;
}

button.register {
	background: #007163;
	color: white;
	margin-left: 15px;
}


.burger {
	width: 20px;
	height: 15px;
	position: relative;
	display: none;
}

.burger span {
	width: 100%;
	height: 2px;
	background: #000000;
	position: absolute;
	left: 0%;
}

.burger span:first-child {
	top: 0;
}

.burger span:nth-child(2) {
	top: 50%;
	transform: translateY(-50%);
}

.burger span:last-child {
	bottom: 0%;
}

.burger.active span:first-child {
	top: 50%;
	transform: rotate(-45deg);
}

.burger.active span:nth-child(2) {
	display: none;
}

.burger.active span:last-child {
	top: 50%;
	transform: rotate(45deg);
}


/* MAIN */
section {
	margin-top: 100px;
}

.section-title__items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

h1 {
	position: relative;
}

h1::before {
	content: url(../img/bg-1.svg);
	max-width: 201px;
	max-height: 201px;
	position: absolute;
	top: -50%;
	left: 0;
}

h1::after {
	content: url(../img/bg-2.svg);
	max-width: 201px;
	max-height: 201px;
	position: absolute;
	top: -50%;
	left: 25%;
}

.section-title__buttons {
	display: flex;

}

.section-title__buttons a {
	width: 165px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.section-title__buttons a:first-child {
	background: rgba(166, 124, 82, 0.1);
	border: 1px solid #A67C52;
	border-radius: 5px;
	color: rgba(166, 124, 82, 1);
	margin-right: 15px;
}

.section-title__buttons a:last-child {
	background: rgba(0, 113, 99, 0.1);
	border: 1px solid #007163;
	border-radius: 5px;
	color: rgba(0, 113, 99, 1);
	margin-left: 15px;
}


.product__list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 0px;
	justify-content: space-between;
}

.product__card {
	min-width: 165px;
	height: 277px;
}

.product__logo {
	width: 100%;
	height: 100%;
}

/* SOCIAL */

.social__items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social__items h2 {
	font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: 0em;
	position: relative;
	margin-bottom: 30px;
}

.social__items h2::after {
	content: '';
	width: 37px;
	height: 6px;
	background: rgba(166, 124, 82, 1);
	display: flex;
	position: absolute;
	bottom: 10px;
	right: 0%;
	z-index: -1;
}

.social__link {
	margin: 0px 10px;
}

.social__link:first-child {
	margin-left: 0px;
}

.social__link:last-child {
	margin-right: 0px;
}


/* Footer */
.footer {
	margin-top: 100px;
}

.footer__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 30px 0px;
}

.footer__list {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.footer__link {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	color: #000000;
}

.footer__info {
	width: 100%;
	margin-top: 30px;
	padding-bottom: 15px;
}

.footer__info h4 {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
}


.reg-popup {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	z-index: 15;
	top: 0%;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: none;
	align-items: center;
	justify-content: center;
}

.reg-popup.active {
	display: flex;
}

.popup__items {
	width: 100%;
	max-width: 550px;
	padding: 25px 30px;
	background: #FFFFFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.popup__title {
	border-bottom: 1px solid rgba(232, 232, 232, 1);
	padding-bottom: 15px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.close {
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.close span {
	width: 100%;
	height: 1.5px;
	position: absolute;
	background-color: black;
	top: 50%;
	left: 0;
}

.close span:first-child {
	transform: rotate(-45deg);
}

.close span:last-child {
	transform: rotate(45deg);
}

.reg__form {
	display: flex;
	flex-direction: column;
}

.reg__form input {
	width: 100%;
	height: 45px;
	display: flex;
	align-items: center;
	border: 1px solid rgba(176, 176, 176, 1);
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 10px;

	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	color: black;
}

.reg__form input.error {
	border: 1px solid red;
}

.form__btn {
	width: 100%;
	max-width: 165px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;

	background: #007163;
	border-radius: 5px;

	font-family: Inter;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	color: white;
}