@import url(reset.css);
@import url(text-style.css);

body {
	background-color: white;
	color: black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
header , footer {
	flex-grow: 0;
}
main {
	flex-grow: 1;
}